{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Francika</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
     integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="first">
        <div class="container"><h1>Francika</h1>
        <ul class="social">
<!--            <li> <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            </li>-->
            <li> <a href="https://instagram.com/franci_art_love?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
         <nav class="navbar navbar-expand-sm">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                           <a class="nav-link" href="#gallary">Gallary</a>
                       </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#order">order</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#insta">Follow</a>
                      </li>
                  </ul>
           </nav>
         </div>
         <div class="container">
            <div class="row">
                  <div class="col-12 col-md-4 col-lg-4 col-xl-4 pink">
                     <a href="#">
                         <h2> Drawings </h2>
                     </a>
                   </div>
                  <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
                      <img style="width:100%;"src="{% static 'assets/images/1.jpeg' %}">
                   </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 green">
                       <a href="#">
                         <h2>  Drawings & <br> Craft</h2>
                       </a>
                   </div>
             </div>
             <div class="row">
                   <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
                         <img style="width:100%;"src="{% static 'assets/images/2.jpeg' %}">
                    </div>
                   <div class="col-12 col-md-4 col-lg-4 col-xl-4 teal">

                           <h2> DM for orders <a style="color:pink;text-decoration:none;font-size:20px;" href="https://instagram.com/franci_art_love?utm_medium=copy_link">@franci_art_love</a></h2>

                    </div>
                     <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
                            <img style="width:100%;"src="{% static 'assets/images/3.jpeg' %}">
                    </div>
              </div>
         </div>
      </div>

      <div class="what_to_do container">
           <h2 class="text-center" id="order">What we do</h2>
           <div class="row container">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                    <i class="text-center fas fa-image"></i>
                    <h3>Send Picture</h3>
                    <p> Send your photos/pic in our Insta id </p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                   <i class="fas fa-paint-brush"></i>
                   <h3>Draw</h3>
                   <p> We draw & pencil skecth your picture</p>
                   <div class="row">
                         <div class="col-12 text-center">
                           <button type="button"><a href="https://instagram.com/franci_art_love?utm_medium=copy_link">Contact us</a></button>
                         </div>
                   </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
                    <i class="text-center fas fa-table"></i>
                    <h3>Frame</h3>
                    <p>And finally We frame your picture</p>
                </div>
            </div>
      </div>
<!--      <div class="four">-->
<!--          <div class="container">-->
<!--               <h1 class="text-center">For more picture visit our instagram page </h1>-->
<!--               <div class="row">-->
<!--                     <div class="col-12 text-center">-->
<!--                       <button type="button"><a href="#"><i class="fab fa-instagram"></i>insta</a></button>-->
<!--                     </div>-->
<!--               </div>-->
<!--          </div>-->
<!--      </div>-->
      <div class="five">
          <h2 class="text-center" id="gallary">Gallary</h2>
          <br>
          <div class="row container">
              {% for i in img %}
              <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                    <br>
                  <img src="{{i.image.url}}" width="400" height="300">
              </div>
                {% endfor %}
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/2.jpeg' %}">-->
<!--              </div>-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/3.jpeg' %}">-->
<!--              </div>-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/4.jpeg' %}">-->
              </div>
          </div>
          <br>
<!--          <div class="row container">-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/5.jpeg' %}">-->
<!--              </div>-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/6.jpeg' %}">-->
<!--              </div>-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/7.jpeg' %}">-->
<!--              </div>-->
<!--              <div class="col-12 col-md-3 col-lg-3 col-xl-3">-->
<!--                  <img src="{% static 'assets/images/cup/8.jpeg' %}">-->
<!--              </div>-->
<!--          </div>-->
      </div>
      <div class="six">
        <div class="container text-center">
            <i class="fas fa-quote-left"></i>
            <p id="about">About</p>
        </div>
          {% for i in prof %}
        <div class="people row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <img class="rounded-circle" src="{{i.profile.url}}">
              <h3 class="text-center">{{i.Name}}</h3>
              <p class="text-center">Artist</p>
          </div>
        </div>
          {% endfor %}
      </div>
      <div class="letter text-center">
        <h1 class="text-center">support us</h1>
        <p class="text-center">follow our instagram page</p>
        <div class="container">
           <div class="row">
                 <div class="col-12 text-center" id="insta">
                   <button type="button"><a href="#"><i class="fab fa-instagram"></i>insta</a></button>
                 </div>
           </div>
        </div>
      </div>
      <footer>
          <p class="text-center">@Allcopyrights Reserved FRANCIKA</p>
      </footer>
   </body>
 </html>
